images/*/
images/**/*.jpg
images/**/*.jpeg
images/**/*.png
images/CPS_Dog_Cataract_Rand/*/
images/CPS_Dog_Cataract_Rand/dataset/*.jpg

Results/*/
Results/**/*.jpg
Results/**/*.jpeg
Results/**/*.png

results/*/
results/**/*.jpg
results/**/*.jpeg
results/**/*.png

CIFAR10_fake/*
fake_img/*/
fake_img/**/*.jpg
fake_CIFAR10_img/*

models/*/
models/**/.pt

runs/*
__pycache__/*

saved_models/*
fake_image_Dog/*
fake_image_Dog2/*