images/*/
images/**/*.jpg
images/**/*.jpeg
images/**/*.png
images/CPS_Dog_Cataract_Rand/*/
images/CPS_Dog_Cataract_Rand/dataset/*.jpg

Results/*/
Results/**/*.jpg
Results/**/*.jpeg
Results/**/*.png

results/*/
results/**/*.jpg
results/**/*.jpeg
results/**/*.png

fake_img/*/
fake_img/**/*.jpg

models/*/
models/**/.pt
